In [26]:
import pandas as pd

dataset_url = "https://raw.githubusercontent.com/JuliaData/CSV.jl/refs/heads/main/test/testfiles/Sacramentorealestatetransactions.csv"
housing_data = pd.read_csv(dataset_url)

housing_data.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

**1. Find the number of columns in the DataFrame**

In [27]:
column_count = len(housing_data.columns) #housing_data.shape[1] works too
print(f"Total columns in dataset: {column_count}")

Total columns in dataset: 12

**2. Find the mean of the house prices**

In [28]:
average_cost = housing_data['price'].mean()
print(f"Average house price: ${average_cost:,.2f}")

Average house price: $234,144.26

**3. Find the median of the house prices**

In [29]:
middle_price = housing_data['price'].median()
print(f"Median house price: ${middle_price:,.2f}")

Median house price: $213,750.00

**4. Find the different types of property in the dataset**

In [30]:
unique_properties = set(housing_data['type']) #housing_data['type'].unique() can also be used
print("Types of properties available:", ', '.join(unique_properties))

Types of properties available: Unkown, Condo, Residential, Multi-Family

**5. Find the maximum price of a "Condo" in the dataset**

In [31]:
max_condo_value = housing_data[housing_data['type'].str.lower() == 'condo']['price'].max()
print(f"Highest priced condo: ${max_condo_value:,.2f}")

Highest priced condo: $360,000.00

**6. Find the mean price of each type of property in the dataset**

In [32]:
avg_by_category = housing_data.groupby('type')['price'].mean().reset_index()
print("\nAverage price for each property type:")
print(avg_by_category)

Average price for each property type:
           type          price
0         Condo  150082.185185
1  Multi-Family  224534.692308
2   Residential  239186.162486
3        Unkown  275000.000000

**7. Find the count of different property types in the dataset**

In [33]:
type_distribution = housing_data['type'].value_counts().reset_index()
type_distribution.columns = ['Property Type', 'Count']
print("\nNumber of properties for each type:")
print(type_distribution)

Number of properties for each type:
  Property Type  Count
0   Residential    917
1         Condo     54
2  Multi-Family     13
3        Unkown      1